@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin:0;
    padding:0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.sectionOne{
    display: flex;
    justify-content: center;

}
.colorContainer{
    width:415px;
    height:655px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#h1Id{
    font-size: 40px;
    font-weight: 800;
}
.rowContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.rowBox{
    width:99px;
    height:99px;
    border:3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center ;
    align-items: center;
}
#button1{
    background-color: #e0e0e0;
}
#button2{
    background-color:#6fcf97;
}
#button3{
    background-color: #56ccf2;
}
#button4{
    background-color: #bb6bd9;
}
.thirdBlock{
    width:100%;
    height:40px;
    margin-top: 30px;
    padding: 10px 0 10px 0;
    color:#fff;
    background-color: #222222;
    border:none;
    border-radius: 10px;
}
.para{
    margin-top: 30px;
}
#selectedColorHexCode{
    color: #49a6e9;
}